.column {
    float: left;
    padding: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    overflow-y: scroll;
    height: 85vh; /* Should be removed. Only for demonstration */
}

.left {
    width: 25%;
}

.right {
    width: 75%;
}

#boxshadow {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
}

ul{
    list-style-type:none;
    white-space:nowrap;
    overflow-x:auto;
}

li{
    display:inline;
}

#img {
    margin-right: 10px;
    height: 240px;
}
