.h-100 {
    margin-top: 40px;
}

img {
    height: 90px;
    width: 90px;
}

.list-group-item-action {
    height: 150px;
    width: 100%;
}

#user_login {
    margin-left: 20px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#outer {
    width: 100%;
    height: 100%;
    display: flex;
}

#inner {
    margin: auto;
}

.column {
    float: left;
    padding: 10px;
    overflow-y: scroll;
    height: 85vh;
}

.left {
    width: 25%;
}

.right {
    width: 75%;
}

#tableContainer {
    box-shadow: 26px 22px 23px -23px rgba(0, 0, 0, 0.28);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

ul {
    list-style-type: none;
    white-space: nowrap;
    overflow-x: auto;
}

li {
    display: inline;
}

.btn {
    color: white;
    padding: 12px 12px;
    font-size: 16px;
    cursor: pointer;
}

a.btn:hover {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
}

a.btn {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.btn-warning {
    align-self: end;
    float: right;
}

.rounded-circle {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
}

.rounded-circle:before {
    display: block;
    content: "images/avatar.png";
    width: 100%;
    padding-top: 100%;
}

.rounded-circle > img {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    opacity: 0;
    transition: opacity .4s;
}

.rounded-circle > img.tallAndNarrow {
    width: 100%;
    top: 50%;
    transform: translateX(0) translateY(-50%);
    left: 0;
    height: auto;
}

.rounded-circle > img.loaded {
    opacity: 1;
}
